<form (submit)="calc()" >
  <div class="container">
    
    <button style="border: 1px;float: right;background-color: red;color: white;border-radius: 11px;" mat-raised-button matDialogClose>X</button>
    <h1 class="h3 mb-3 font-weight-normal">Demander un congé</h1>
   
      <div class="row">
        
        <div class="col-md">
          <div class="form-group">
            <label style="color: #8c8c8cbf;" for="name">Date debut</label>
            <input  style="height: 58px;" type="date" class="form-control" [(ngModel)]="credentials.date_debut" name="date_debut"  >
          </div>
        
          <div class="form-group">
            <label style="color: #8c8c8cbf;" for="name">Date retour</label>
            <input  style="height: 58px;" type="date" class="form-control" [(ngModel)]="credentials.date_fin" name="date_fin"   >
          </div>
          <div  *ngIf="enable" class="form-group">
            <label  style="color: #8c8c8cbf;" for="name">Nombre de jours</label>
            <input style="height:58px;background-color: #5cd45c;color: white;font-size: 37px;cursor: not-allowed;" type="text" class="form-control" name="Nbrjours" [(ngModel)]="credentials.Nbrjours" placeholder="{{date_fin-date_debut}}" disabled >
           
          </div>
          <div style="overflow-y: scroll;height: 150px;"  *ngIf="enableJ" class="form-group">
            <label  style="color: #201717bf;" for="name">Les jours fériés inclus dans le congé demandé<br> <p style="font-size:10px">(ne sont pas comptés)</p>
            </label>
            <div *ngFor="let ms of Messages | keyvalue">
              <p> <span><em>{{ ms.value[1] }}</em></span></p>
               
            </div>           
          </div>
        </div>
        <div class="col-md">
          <div class="form-group">
            <label style="color: #8c8c8cbf;" for="name">Commentaire</label>
            <textarea   class="form-control" [(ngModel)]="credentials.commentaire" name="comment" placeholder="" ></textarea>
          </div>
          <div class="form-group">
            <label style="color: #8c8c8cbf;" for="password">Type</label>
            <div class="form-group">
              <select style="height: 58px;"  [(ngModel)]="credentials.type" name="type" class="form-control" >
                  <option disabled="">Type</option>
                   <option name="admin">Congé Paye</option>
                   <option name="agent">Congé Sans Solde</option>
                   <option name="admin">Absence</option>
                   <option name="agent">Décès</option>
              </select>
          </div>          </div>
         <!-- (click)="calc()" --> 
          
        </div>
        <button style=" color:#8c8c8cbf;padding: 15px;background-color: white;border: 1px solid black;" class="btn btn-lg btn-primary btn-block"
        mwlConfirmationPopover
        [popoverTitle]="popoverTitle"
        [popoverMessage]="popoverMessage"
        placement="top"
        (confirm)="calculateBusinessDays()"
        (cancel)="cancelClicked=true"
        >Valider</button>
  
          
      
           <!--<button type="submit"  class="btn btn-lg btn-primary btn-block">Register!</button>-->
        
      </div>
    </div>
  
  </form>