.button{
    background-image: linear-gradient(45deg, rgb(158, 27, 56), rgb(240, 83, 80));
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 95px;
}