



    <form [formGroup]="angForm" (ngSubmit)="update(angForm.value)">
      
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <div class="input-group">
        <label *ngIf="verifier()">
         
        <p style="color: #8c8c8cbf;" class="label-txt">Etat</p>
        <select style="width: 250px;height: 58px;" class="form-control" formControlName="Etat" id="Etat">
          <option value="En attente"> En attente</option>
          <option value="Validé">Validé</option>
		  <option value="Refus">Refus</option>
          
        </select>
        
      </label>
      </div>
  </div>
  
  
<div class="form-group">
  <div class="input-group">
    <label>
     
    <p style="color: #8c8c8cbf;" class="label-txt">Type</p>
    <select  style="width: 250px;height: 58px;" class="form-control" formControlName="type" id="type">
      <option value="Congé payé"> Congé payé</option>
      <option value="Congé Sans Solde">Congé Sans Solde</option>
      <option value="Absence"> Absence</option>
      
    </select>
    <!--<div class="line-box">
      <div class="line"></div>
    </div>-->
  </label>
  </div>
</div>
<div class="form-group">
  <div class="input-group">
    <label>
      <p style="color: #8c8c8cbf;" class="label-txt">Nombre de jours</p>
      <input style="width: 250px;height: 58px;" class="form-control"  type="text" formControlName="Nbrjours" >
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
  </div>
</div>
  </div>
  <div class="col-md-4">
  
    <div class="form-group">
      <div class="input-group">
        <label>
          <p style="color: #8c8c8cbf;" class="label-txt">Date début</p>
          <input style="width: 250px;height: 58px;" class="form-control"  type="date" formControlName="date_debut" >
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <label>
          <p style="color: #8c8c8cbf;" class="label-txt">Date fin</p>
          <input style="width: 250px;height: 58px;" class="form-control"  type="date" formControlName="date_fin" >
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <label>
          <p style="color: #8c8c8cbf;" class="label-txt">commentaire</p>
            <textarea style="width: 250px;height: 58px;" class="form-control" formControlName="commentaire"  rows="4"></textarea>
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <p style="color: #8c8c8cbf;" class="label-txt">Historique</p>
    <div style="padding: 10px;border-left: 3px solid green;border-radius: 21px;" *ngFor="let histo of Historys | keyvalue">
     <p><i style="font-size: 15px;font-weight: 800;">Changement d'état</i> </p>
      <div >
        {{histo.value.EtatHistory}} par : 
        <b style="color: green;">{{histo.value.user_name}}</b> {{histo.value.date_creation}}
      </div>  
    </div> 
    
    <!--<input type="text" [(ngModel)]="Historys" name="" id="">-->

  </div>
</div>
    
  <button style="padding: 15px;width: 506px;background-color: #39cc3d;color: white;border: 1px solid white;" type="submit">Valider</button>
      
    </form>
  
  
  
