#reliquat
{
   background-color: #60d860;
   color: white;
   padding:10px;
   text-align: center;
   border-radius: 9px;;
}

.col-md-8
{
    font-weight:bold;
    background-color: #e4dcdb;
    color: #756e6e;
    padding: 12px;
    border-radius: 6px;
}