<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css"/>


<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    <div class="middle">
                                        <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                                        <input type="file" style="display: none;" id="profilePicture" name="file" />
                                    </div>
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">{{ details?.first_name }} {{ details?.last_name }}</a></h2>
                                    <h4 class="d-block"><a href="javascript:void(0)"></a> ARTEX</h4>
                                    <h6 class="d-block"><a href="javascript:void(0)"></a> ASSURANCES</h6>
                                </div>
                                <div class="ml-auto">
                                    <input type="file" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                    </li>
                                   <!--<li class="nav-item">
                                        <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Connected Services</a>
                                    </li>-->
                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                        

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-3">
                                                <label style="font-weight:bold;">Nom</label>
                                            </div>
                                            <div style="font-weight:bold;background-color: #e4dcdb;color: #756e6e;padding: 12px;border-radius: 6px;" class="col-sm-3 col-md-2 col-3">
                                              {{ details?.last_name }}
                                            </div>
                                            <div class="col-sm-3 col-md-2 col-3">
                                                <label style="font-weight:bold;">Prénom</label>
                                            </div>
                                            <div style="font-weight:bold;background-color: #e4dcdb;color: #756e6e;padding: 12px;border-radius: 6px;" class="col-sm-3 col-md-2 col-3">
                                              {{ details?.first_name }}
                                            </div>
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Email</label>
                                            </div>
                                            <div style="font-weight:bold;background-color: #e4dcdb;color: #756e6e;padding: 12px;border-radius: 6px;" class="col-sm-5 col-md-2 col-5">
                                              {{ details?.email }}
                                            </div>
                                        </div>
                                       
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Role</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                              {{ details?.type }}
                                            </div>
                                        </div>
                                      
                                        <hr />
                                        <div class="row">
                                          <div class="col-sm-3 col-md-2 col-5">
                                              <label style="font-weight:bold;">Date début contrat</label>
                                          </div>
                                          <div style="font-weight:bold;background-color: #e4dcdb;color: #756e6e;padding: 12px;border-radius: 6px;" class="col-sm-3 col-md-2 col-5">
                                            {{ details?.date_recrutement }}
                                            
                                          </div>
                                          <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Total mois travaillé</label>
                                        </div>
                                        <div style="font-weight:bold;background-color: #e4dcdb;color: #756e6e;padding: 12px;border-radius: 6px;" class="col-sm-3 col-md-2 col-5">
                                            {{totalmois}}
                                          
                                        </div>
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Total jours Conge</label>
                                        </div>
                                        <div style="font-weight:bold;background-color: #e4dcdb;color: #756e6e;padding: 12px;border-radius: 6px;" class="col-sm-3 col-md-2 col-5">
                                          {{totaljoursconge}}
                                        </div>
                                      </div>
                                      <hr />
                                   
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Cumul</label>
                                        </div>
                                        <div style="font-weight:bold;background-color: #e4dcdb;color: #756e6e;padding: 12px;border-radius: 6px;" class="col-sm-3 col-md-2 col-5">
                                          {{sum}}
                                        </div>
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Reliquat</label>
                                        </div>
                                        <div id="reliquat" class="col-sm-3 col-md-2 col-5">
                                            {{reliquat}}
                                        </div>
                                    </div>
                                    <hr />
                                    
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Crée en</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                          {{ details?.created }}
                                          
                                        </div>
                                    </div>

                                    </div>
                                    <!--<div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                        Facebook, Google, Twitter Account that are connected to this account
                                    </div>-->
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>