<script src="https://cdn.rawgit.com/download/glyphicons/0.1.0/glyphicons.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-md-center" id="navbarsExample10">
    <a class="navbar-brand" routerLink="/">Gestion Conge</a>
    <ul class="navbar-nav">
       <!--<li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
        
      
     <li *ngIf="!auth.isLoggenId()" class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>-->
      
     
     
      
     
    </ul>
    
    
  </div>
  <ul class="nav justify-content-end">
   
    <li *ngIf="!auth.isLoggenId()" class="nav-item">
      <a  style="color: #9a9da0;" class="nav-link" routerLink="/login">Login</a>
    </li>
    <li *ngIf="auth.isLoggenId()" class="nav-item">
      <a style="color:black;background-color: aliceblue;" class="nav-link" >{{ auth.getUserDetails()?.first_name }}</a>
    </li>
    <li *ngIf="auth.isLoggenId()" class="nav-item">
      <a style="color: #9a9da0;" class="nav-link" routerLink="/profile">Accueil</a>
    </li>
    <!--<li *ngIf="auth.isLoggenId()" class="dropdown" >
      <a  href="#" class="dropdown-toggle navbar-img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
      <img width="40px" src="http://placehold.it/150x150" class="img-circle" alt="Profile Image" />
      </a>
      
     
        
     
    </li>
    <li *ngIf="auth.isLoggenId()"><a  style="color: #9a9da0;" routerLink="/mon_profile">Profile</a></li>-->
        <li role="separator" class="divider"></li>
        <li *ngIf="auth.isLoggenId()" class="nav-item">
          <i class="fas fa-sign-out-alt"></i><a style="color: #9a9da0;" class="nav-link" routerLink="" (click)="auth.logout()">Déconnexion</a>
        </li>
  </ul>
</nav>

<router-outlet></router-outlet>