<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div id="fullscreen_bg" class="fullscreen_bg">
 <form [formGroup]="angForm" class="form-signin"(ngSubmit)="update(angForm.value)">
<div class="container">

    <div class="row">
        <div class="col-md-5">
            <h3 class="text-center">
                Modification d'un utilisateur</h3>

<div class="panel-body">   

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
                    </span>
                    <input formControlName="first_name" type="text" class="form-control" placeholder="First Name" />
                </div>
            </div>
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input formControlName="last_name" type="text" class="form-control" placeholder="Last Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input formControlName="email" type="text" class="form-control" placeholder="Email" />
                </div>
            </div>
            <mat-checkbox color="primary"  class="example-margin" >Changer le mot de passe</mat-checkbox>
                      <!--<div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <p>{{his}}</p>              
                </div>
            </div>-->
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input formControlName="password" type="password" class="form-control" placeholder="New Password"  />
                    <!--<button (click)="Decrypte()"><i class="fa fa-eye"></i></button>-->
                    
                </div>
            </div>
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                    
                    <select style="height: 34px;" class="form-control" formControlName="type" id="type">
                        <option value="Administrateur"> Administrateur</option>
                        <option value="Agent TLV">Agent TLV</option>
                        <option value="Agent Qualife"> Agent Qualife</option>
                        <option value="Résponsable Gestion"> Résponsable Gestion</option>
                        <option value="Résponsable Qualife"> Résponsable Qualife</option>
                      </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="">Date de recrutement</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    
                    <input formControlName="date_recrutement" type="date" class="form-control" placeholder="Date de recrutement" />
                </div>
            </div>
            
                <button style="padding: 15px;width: 416px;background-color: white;border: 1px solid black;" type="submit">
    VALIDER
</button>
              

</div>
        </div>

        <div class="col-md-3">
            <br><br>
            <table>
                <tr>
                    <td><label for="">Filtrer par agent</label></td>
                    <td style="position: relative;left: 96px;"><mat-slide-toggle (click)="xxx()" [color]="color" formControlName="checked" ></mat-slide-toggle></td>
    
                </tr>
                <tr>
                    <td><label for="">Filtrer par date</label></td>
                    <td style="position: relative;left: 96px;"><mat-slide-toggle  [color]="color"></mat-slide-toggle></td>
    
                </tr>
                <tr>
                    <td><label for="">Voir le profil</label></td>
                    <td style="position: relative;left: 96px;"><mat-slide-toggle [color]="color"></mat-slide-toggle></td>
    
                </tr>
                <tr>
                    <td><label for="">Voir les utilisateurs</label></td>
                    <td style="position: relative;left: 96px;"><mat-slide-toggle [color]="color"></mat-slide-toggle></td>
    
                </tr>
                <tr>
                    <td><label for="">Modifier un utilisateur</label></td>
                    <td style="position: relative;left: 96px;"><mat-slide-toggle [color]="color"></mat-slide-toggle></td>
    
                </tr>
                <tr>
                    <td><label for="">Désactiver le compte </label></td>
                    <td style="position: relative;left: 96px;"><mat-slide-toggle [color]="color"></mat-slide-toggle></td>
    
                </tr>
            </table>
            
            
        </div>
    </div>
  

</div>
</form>


</div> 